<div *ngIf="data == null || data.length <= 0" class="errorMessage">
  <p>Error Fetching Data. Please try Again Later</p>
</div>

<div *ngIf="data">
  <p-table [value]="data">
    <!-- headers -->
    <ng-template #header>
     <tr class="header-row">
        <th> <strong>Category / Subcategory / Asset</strong> </th>

        <th> <strong>Balance</strong> </th>
      </tr>
    </ng-template>

    <ng-template #body let-x>
      <ng-container>
        <tr class="category-row">
            <td>
            <strong>{{x.primaryAssetCategory}}</strong>
            </td>
            <td class="balance">{{x.balanceCurrent | currency:'USD'}}</td>
        </tr>

        <tr class="subcategory-row">
          <td >{{x.wealthAssetType}}</td>
           <td>{{x.balanceCurrent | currency:'USD'}}</td>
        </tr>

        <tr class="nikname-row">
          <td >{{x.nickname}}</td>
            <td>{{x.balanceCurrent | currency:'USD'}}</td>
        </tr>
      </ng-container>
    </ng-template>
  </p-table> 
</div>
